#nprogress .bar {
  background-color: var(--chakra-colors-pink-400) !important;
}

#nprogress .peg {
  -webkit-box-shadow: 0 0 10px var(--chakra-colors-pink-400),
    0 0 5px var(--chakra-colors-pink-400) !important;
  box-shadow: 0 0 10px var(--chakra-colors-pink-400),
    0 0 5px var(--chakra-colors-pink-400) !important;
}
